@tailwind base;
@tailwind components;
@tailwind utilities;

.lovers-quarrel-regular {
    font-family: 'Lovers Quarrel', cursive;
}

.boxShadowTime {
  -webkit-box-shadow: inset 0px 0px 38px 7px rgba(239,68,68,1);
  -moz-box-shadow: inset 0px 0px 38px 7px rgba(239,68,68,1);
  box-shadow: inset 0px 0px 38px 7px rgba(239,68,68,1);
}
